body {
  padding-top: 20px !important;
}

.video__item {
  display: flex !important;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.video__thumbnail {
  flex-shrink: 0;
  width: 180px;
}

.video__title {
  flex-shrink: 2;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}

.video-frame {
  width: 100%;
  height: 100% !important;
}

.ui.grid {
  margin-top: 20px;
}
